---
import Layout from "@layouts/Layout.astro";
import TerminalList from "@components/TerminalList.svelte";
import TerminalListItem from "@components/TerminalListItem.svelte";

const title = "Hi.";
const description = "I have no idea what I'm doing";
const topLevelDirectories = ["notes", "meta"];
const externalListItems = [
    {
        href: "https://github.com/th7mo",
        displayName: "GitHub"
    },
    {
        href: "https://soundcloud.com/th7mo",
        displayName: "SoundCloud"
    },
    {
        href: "https://lieu.cblgh.org",
        displayName: "Merveilles Webring"
    }
];
---

<Layout title={title} description={description}>
    <p>{description} :)</p>

    <TerminalList>
        {topLevelDirectories.map(listItem => (
            <TerminalListItem dir><a href={listItem}>{listItem}/</a></TerminalListItem>
        ))}
    </TerminalList>

    <TerminalList>
        {externalListItems.map(listItem => (
            <TerminalListItem
                executable
            ><a target="_blank" href={listItem.href}>{listItem.displayName}</a>
            </TerminalListItem>
        ))}
    </TerminalList>
</Layout>
