---
import Layout from "../layouts/Layout.astro";
import NoteNavigation from "../components/NoteNavigation.astro";
import NoteOverview from "../components/NoteOverview.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes", ({ data }) => {
    return data.isPublic;
});
const title = "My Notes";
const description = "A collection of my scattered thoughts.";
---

<Layout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}</p>
    <NoteNavigation notes={notes}></NoteNavigation>
    <NoteOverview notes={notes}></NoteOverview>
</Layout>
