---
import Head from "@components/Head.svelte";
import Footer from "@components/Footer.svelte";
import BreadcrumbNavigation from "@components/BreadcrumbNavigation.svelte";

import "@styles/fonts.css";
import "@styles/spacing.css";
import "@styles/base.css";
import "@styles/links.css";
import "@styles/text.css";
import "@styles/code.css";
import "@styles/lists.css";
import "@styles/tables.css";
import "@styles/misc.css";
import "@styles/colors.css";

interface Props {
    title: string;
    description: string;
    dateCreated?: string;
}

const { title, description, dateCreated } = Astro.props;

const currentPagePath = Astro.url.pathname.replace(".html", "").replace(/^\/|\/$/g, "");
---

<!doctype html>
<html lang="en">
    <Head title={title} description={description} />
    <body>
        <BreadcrumbNavigation currentPagePath={currentPagePath} />
        <main>
            <h1>{title}</h1>
            <slot />
        </main>
        
        {dateCreated && <Footer {dateCreated} />}
    </body>
</html>

<style>
    :root {
        --page-width: 80ch;
        --page-padding: var(--spacing-md);
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        & > * {
            width: 100%;
        }
    }


    main {
        --header-height: calc(calc(2 * var(--layout-lg)) + calc(2 * var(--spacing-md)) + calc(1.5 * var(--body-lg)));
        --footer-height: calc(calc(2 * var(--page-padding)) + calc(1.5 * var(--body-xs)));

        padding: 0 var(--page-padding);
        padding-bottom: calc(var(--header-height) - var(--footer-height));
        max-width: var(--page-width);
        margin: auto;
        flex: 1;
    }
</style>
