---
import type { CollectionEntry } from "astro:content";

import Layout from "@layouts/Layout.astro";
import AlphabetNavigation from "@components/AlphabetNavigation.svelte";
import NoteCardCollection from "@components/NoteCardCollection.svelte";

interface Props {
    title: string;
    notes: CollectionEntry<"notes">[];
}
const { title, notes } = Astro.props;
---

<Layout title={title} description="A collection of my scattered thoughts.">
    <h1>{title}</h1>
    <p>A collection of my <code>{notes.length}</code> scattered thoughts.</p>
    <AlphabetNavigation notes={notes} />
    <NoteCardCollection currentPagePath={Astro.url.pathname.replace(".html", "")} notes={notes} />
</Layout>

<style>
    code {
        font-weight: 700;
    }
</style>
