---
import type { CollectionEntry } from "astro:content";

import Layout from "@layouts/Layout.astro";
import NoteIndex from "@components/NoteIndex.svelte";

interface Props {
    title: string;
    notes: CollectionEntry<"notes">[];
}
const { title, notes } = Astro.props;
const description = `A collection of my ${notes.length} scattered thoughts`;
---

<Layout title={title} description={description}>
    <p>{description}.</p>
    <NoteIndex currentPagePath={Astro.url.pathname.replace(".html", "")} {notes} />
</Layout>
