---
import type { CollectionEntry } from "astro:content";

import Layout from "@layouts/Layout.astro";
import AlphabetNavigation from "@components/AlphabetNavigation.astro";
import NoteCollection from "@components/NoteCollection.astro";

interface Props {
    title: string;
    description: string;
    notes: CollectionEntry<"notes">[];
}
const { title, description, notes } = Astro.props;
---

<Layout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}.</p>
    <AlphabetNavigation notes={notes}></AlphabetNavigation>
    <NoteCollection notes={notes}></NoteCollection>
</Layout>
