---
import Layout from "../layouts/Layout.astro";
import AlphabetNavigation from "../components/AlphabetNavigation.astro";
import NoteOverview from "../components/NoteOverview.astro";

const { title, description, notes } = Astro.props;
---

<Layout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}</p>
    <AlphabetNavigation notes={notes}></AlphabetNavigation>
    <NoteOverview notes={notes}></NoteOverview>
</Layout>
